body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  background-color: #343330;
  color: #FCF7F8;
}

footer {
  background-color: #343330;
  text-align: center;
}

#Menu{
  background-color: rgb(20, 212, 212);
}